<div class="container-fluid p-5">
    <h1 class="mb-3">Login</h1>
    <form [formGroup]="loginForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <!-- Seteamos la clase del input, y a través del class binding appendeamos 'is-invalid' a la clase que seteamos cuando se cumple la condición -->
            <input 
                class="form-control" 
                [class.is-invalid]="emailFormInvalid"

                type="email" 
                name="email"
                formControlName="email"

                id="exampleInputEmail1" 
                aria-describedby="emailHelp">
            <div *ngIf="emailFormInvalid">Please insert a valid email address.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input 
                class="form-control" 
                [class.is-invalid]="passwordFormInvalid"

                type="password" 
                name="password"
                formControlName="password"

                id="exampleInputPassword1">
            <div *ngIf="passwordFormInvalid">Please insert a password.</div>
        </div>

        <button 
            [disabled]="!sendRequestPossible"
            [class.disabled]="!sendRequestPossible"
            type="submit" 
            class="btn btn-primary"
            (click)="validateLoginData()"
            >Submit
        </button>
        <div *ngIf="!sendRequestPossible" class="spinner-border" role="status"></div>
    </form>
</div>