<nav class="navbar navbar-light bg-transparent">
    <form class="form-inline" (keyup.enter)="search()" onsubmit="return false">
        <div class="ms-2">
            <div class="pb-1">
                <input 
                    class="form-control mr-sm-2" 
                    type="search" 
                    name="search"
                    [formControl]="dishSearchForm"
                    placeholder="What would you like to order?" 
                    aria-label="Search">
            </div>
            <button class="btn btn-primary me-2" type="button" (click)="search()">Search</button>
            <i>Puedes agregar hasta cuatro comidas.</i>
        </div>
    </form>
</nav>

<!--Grid de platos-->
<div class="grid">
    <ng-container *ngFor="let item of searchResults" class="p-2">
        <app-dish [data]="item" (dishEmitter)="addToMenu($event)" [buttonText]="'Add to menu'"></app-dish>
    </ng-container>
</div>