<div class="row">
    <div class="col">
        <h2 class="ms-2">A la carta Restaurant</h2>
        <app-dish-search></app-dish-search>
    </div>
    <div class="col">
        <div class="ms-3">
            <h2>Your Orders</h2>
            <h5>Total price: <strong>${{totalPrice.toFixed(2)}}</strong></h5>
            <h5>Average Health Score: <strong>{{averageHealthScore.toFixed(2)}}</strong></h5>
            <h5>Average Cooking Time: <strong>{{averagePrepTime}} minutes</strong></h5>
        </div>
        <div class="grid">
            <ng-container *ngFor="let dish of menuItems">
                <app-dish [data]="dish" (dishEmitter)="deleteDish($event)" [buttonText]="'Remove'"></app-dish>
            </ng-container>
        </div>
    </div>
</div>